.page {
  width: 100%;
  height: 100vh;
  background: #3f51b5;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: white;
  padding: 35px 20px;
  border: 1px solid black;
  height: 50vh;
  width: 40%;
}

.content .books {
  font-size: 24px;
}

.content p, h2 {
  margin-top: 10px;
}

.content h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.content .description {
  font-size: 16px;
}

.content form mat-form-field {
  width: 80%;
}

.content form {
  margin-top: 20px;
}

.content form button {
  width: 80%;
}

.content .already {
  margin-top: 15px;
}

.content a {
  font-weight: bold;
  color: #3f51b5;
}

@media (max-width: 670px) {
  .content {
    width: 99%;
    height: 100%;
    background-color: #3f51b5;
    position: absolute;
    padding: 0;
    margin: 0;
    transform: translate(50%, -50%);
    color: white;
  }

  .content form mat-label {
    color: white;
  }

  .content a {
    color: white;
  }
}
