<div class="page">
  <mat-card class="content">
    <span class="books">📚📚📚</span>
    <h2>Library Login</h2>
    <span class="description">Log into our library system!</span>

    <form #addUserForm="ngForm" novalidate>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter username</mat-label>
          <input
            required="true"
            matInput
            placeholder="Desired username*"
            #username
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter password</mat-label>
          <input
            required="true"
            type="password"
            matInput
            [formControl]="passwordFormControl"
            placeholder="Desired password*"
            #password
          />
        </mat-form-field>
      </p>

      <button
        (click)="loginUser(username.value, password.value)"
        mat-raised-button
        color="primary"
        routerLink="/books"
      >
        Login
      </button>

      <p class="already">You don't have a profile? <a routerLink="/register">Register here</a></p>
    </form>
  </mat-card>
</div>

