table {
  width: 100%;
}

.canvas {
  background: url("../../../assets/img/library.jpg") center;
  width: 100%;
  height: 25vh;
  color: white;
  text-align: center;
}

.canvas h2, p {
  animation: 1s ease-out 0s 1 popUp;
}

.canvas h2 {
  font-size: 40px;
  padding-top: 10vh;
}

.mat-cell {
  height: 80px;
}

.mat-header-cell {
  font-size: 18px;
  font-weight: bold;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #3f51b5;
  color: white;
}


@keyframes popUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
