<div class="add-book">
  <h2>Add Book 📝</h2>
  <span class="description"
    >Add your favourite book by filling the fields below</span
  >

  <form #addBookForm="ngForm" novalidate>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter book ISBN</mat-label>
        <input required="true" matInput placeholder="Book ISBN*" #isbn />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter title</mat-label>
        <input required="true" matInput placeholder="Book title*" #title />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter author</mat-label>
        <input required="true" matInput placeholder="Book author*" #author />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter genre</mat-label>
        <input required="true" matInput placeholder="Book genre*" #genre />
      </mat-form-field>
    </p>

    <button
      (click)="addBook(title.value, author.value, genre.value, isbn.value)"
      mat-raised-button
      color="primary"
      routerLink="/books"
    >
      Submit
    </button>
  </form>
</div>
