<div class="add-book">
  <h2>Add Book 📝</h2>
  <span class="description">Add your favourite book by filling the fields below</span>

  <form #addBookForm="ngForm" novalidate>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter title</mat-label>
        <input required="true" matInput placeholder="Book title">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter author</mat-label>
        <input required="true" matInput placeholder="Book author">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter genre</mat-label>
        <input required="true" matInput placeholder="Book genre">
      </mat-form-field>
    </p>

    <button [disabled]="addBookForm.invalid" (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
  </form>
</div>



