<div class="add-book">
  <h2>Edit Book 📝</h2>
  <span class="description"
  >You want to modify this book? Enter a field you want to change</span
  >

  <form #addBookForm="ngForm" novalidate>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter title</mat-label>
        <input matInput placeholder="Book title*" #title />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter author</mat-label>
        <input matInput placeholder="Book author*" #author />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter genre</mat-label>
        <input matInput placeholder="Book genre*" #genre />
      </mat-form-field>
    </p>

    <button
      (click)="editBook(title.value, author.value, genre.value)"
      mat-raised-button
      color="primary"
      routerLink="/books"
    >
      Submit
    </button>
  </form>
</div>
