<mat-toolbar color="primary">
  <span>Library 📖</span>

  <div class="spacer"></div>

  <mat-button-toggle-group class="toggle-view" [value]="selectedView">
    <mat-button-toggle (change)="selectView($event.value)" value="table" style="border-right: 1px solid white" routerLink="/books">
      <mat-icon>dns</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle (change)="selectView($event.value)" value="list" routerLink="/books-cards">
      <mat-icon>book</mat-icon>
    </mat-button-toggle>

  </mat-button-toggle-group>

  <div class="nav-items">
    <a mat-button (click)="openDialog()">Add Book</a>
    <a mat-button routerLink="">About Us</a>
  </div>

</mat-toolbar>
