.spacer {
  flex: 1 1 auto;
}

.mat-button-toggle {
  background-color: #3f51b5;
}

.mat-button-toggle-checked {
  background: white;
}

.nav-items {
  display: block;
  margin-left: 20px;
  border-left: 2px solid white;
}
