.mat-card {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.mat-card img {
  height: 100%;
  margin-right: 30px;
}

.mat-card .text {
  height: 100%;
}

.mat-card-title span {
  font-size: 15px;
}

.mat-card label {
  max-width: 100px;
}

.mat-card .buttons {
  margin-top: 30px;
}
